# OS
.DS_Store

# Terraform variables
terraform.tfvars

# Terraform state files
*.tfstate
*.tfstate.backup
terraform.tfstate.*.backup

# Terraform cache and CLI data
.terraform/
.terraform.lock.hcl

# Crash log files
crash.log

# IDE - VSCode
.vscode/